/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.loginbg {
	
	-fx-background-image: url("/com/__first/POS/frontend/background.png");
}

.button:hover {
	-fx-background-color: #bfbfbf;
}


.background {
	
	-fx-background: #8dbed9;
}

.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 50;
}

.tab-header-area .tab{
    -fx-padding:20 10 20 10;
    -fx-background-radius: 150px;
}

.tab-pane {
  -fx-tab-min-width:173px;
  -fx-tab-max-width:173px;
  -fx-tab-min-height:100px;
  -fx-tab-max-height:100px;
  -fx-border-radius: 100px;
}

.tab {
  -fx-font-family: Arial;
  -fx-font-size: 18;
  -fx-background-color:transparent;


}

.tab:selected {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.pane {
	-fx-background-color: white;
}

.chart-plot-background {
	-fx-background-color: transparent;
}

.order-items-label {
	-fx-font-size: 20px;
    -fx-font-weight: bold;
}